html {
  height: 100%
}

body {
  font-family : sans-serif;
  background-color: #935d8c;
  background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

h3 {
  font-weight: 400;
}

main {
  position: absolute;
  width: 537px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
main:after {
  content: " ";
  display: block;
  clear  : both;
}
#canvas, #next-piece, .score {
  float: left;
  text-align: center;
}
.score {
  width: 200px;
  padding-left: 35px;
}
#next-piece {
  width: 150px;
  margin-left: 23px;
  height: 150px;
  position: relative;
  background: white;
}
#next-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}
.next-piece {
  text-align: center;
  width: 200px;
  float: left;
  padding-left: 35px;
  height: 200px;
}
#volume {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 159px;
}
.muted {
  right: 139px !important;
}
.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.fa-ban {
  font-size: 25px;
  line-height: .8;
}
