html {
  height: 100%;
}

body {
  font-family : 'Press Start 2P', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

h3 {
  font-weight: 400;
}

.hide {
  display: none;
}

main {
  width: 537px;
  height: 636px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
main:after {
  content: " ";
  display: block;
  clear  : both;
}
#canvas, .score, .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}
.score {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0px;
}
.score h3 {
  margin-bottom: 5px;
}
.high-scores {
  position: absolute;
  left: -217px;
}
.high-scores h3 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
#hi-list {
  padding-left: 0;
  list-style: none;
}
#hi-list li {
  margin-bottom: 5px;
}
#next-piece {
  width: 150px;
  border: 5px solid transparent;
  background: #FAFAFA;
  border-image: url("../../tetris_assets/img/brick-border.png") 48% repeat;
}
.next-piece {
  text-align: center;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 85%;
  transform: translateX(-15%);
}
#volume {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: -47px;
  padding: 5px 0;
}
#volume.muted {
  left: -60px;
}
.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.fa-ban {
  font-size: 25px;
  line-height: .8;
}
#next-piece {
  width: 150px;
  margin-left: 22px;
  height: 150px;
  position: relative;
  background: white;
}
#next-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}
.next-piece {
  text-align: center;
  width: 200px;
  float: left;
  padding-left: 35px;
  height: 200px;
}
.next-piece h3 {
  margin-top: 10px;
  padding-left: 10px;
}

#enter-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  z-index: 1;
  padding: 10px;
  background: #FAFAFA;
  border-image: url("../../tetris_assets/img/brick-border.png") 48% repeat;
}
#enter-score h1 {
  margin-top: 0;
}

#initials {
  font-family: 'Press Start 2P', cursive;
  width: 34px;
  padding: 5px;
}
