body {
  font-family : sans-serif;
}

h3 {
  font-weight: 400;
}

main {
  margin: auto;
  width: 537px;
  position: relative;
}
main:after {
  content: " ";
  display: block;
  clear  : both;
}
#canvas, #next-piece, .score {
  float: left;
  text-align: center;
}
.score {
  width: 200px;
  padding-left: 35px;
}
#next-piece {
  width: 150px;
  margin-left: 23px;
}
.next-piece {
  text-align: center;
  width: 200px;
  float: left;
  padding-left: 35px;
  height: 200px;
}
#volume {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 159px;
}
.muted {
  right: 139px !important;
}
.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.fa-ban {
  font-size: 25px;
  line-height: .8;
}
